# Module 5 Homework 1



3.  Train an ANN model using Sklearn
    
    a) Partition your data into 60% percent training, 40% percent validation.
    
    b) Use the Sklearn GridSearchCV() function to search for the best number of nodes in one hidden layer (search between 1 and 10 nodes), and then print and plot the gridsearch results.
    
    c) Use MLPClassifier() to train your model.  Set hidden_layer_sizes=(the best number of nodes that you found in b). Use the relu activation function and the lbfgs solver. Print your train and validation confusion matrices (e.g., use the classificationSummary() function in Sklearn). How did your model perform?


4. Follow the module's example to create an ANN model using Keras--use the same data partition as in the Sklearn model.
    
    a) Use the relu activation function in the hidden layer and the sigmoid activation function in the output layer.
    
    b) When compiling your model, use the 'adam' optimizer.
    
    c) Print and plot your model; to plot your model, use keras_visualizer.
    
    d) Print the confusion matrix of your model. Optionally, try to add more layers and change the number of nodes in your dense layers to see how the performance of your model changes. You can also experiment with and without the bias variable to the model.
    
    e) Submit an image of your final model separately from your notebook file.


5. Compare the performance of both your Sklearn and Keras models (e.g., use the accuracy metric or plot the gain or ROC chart). What can you conclude?

In [2]:
import pandas as pd
import numpy as np

# 1. Import

Import the processed.cleveland.data dataset (attached) and create column names of 14 attributes as indicated in this link: https://archive.ics.uci.edu/ml/datasets/Heart+Disease. Print the head of your dataframe and the percent of each outcome class in the num column (e.g.,  use the value_counts() function). Did you notice any class imbalance?

In [83]:
hd = pd.read_csv('processed.cleveland.data',header=None)

column_indices = [0,1,2,3,4,5,6,7,8,9,10,11,12,13]
new_names = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','num']
old_names = hd.columns[column_indices]
hd.rename(columns=dict(zip(old_names, new_names)), inplace=True)
hd.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
5,56.0,1.0,2.0,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0
6,62.0,0.0,4.0,140.0,268.0,0.0,2.0,160.0,0.0,3.6,3.0,2.0,3.0,3
7,57.0,0.0,4.0,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0.0,3.0,0
8,63.0,1.0,4.0,130.0,254.0,0.0,2.0,147.0,0.0,1.4,2.0,1.0,7.0,2
9,53.0,1.0,4.0,140.0,203.0,1.0,2.0,155.0,1.0,3.1,3.0,0.0,7.0,1

The last colume "num" is the diagnosis of heart disease (angiographic disease status)

0 : no diagnosis
1-4 : heart disease diagnosis

In [84]:
hd['num'].value_counts(normalize=True)

0    0.541254
1    0.181518
2    0.118812
3    0.115512
4    0.042904
Name: num, dtype: float64

One obvious observation and that there are more (>50%) no diagnosis (absense) than any other class. Class 4 is low frequency (4%).

# 2. Preprocess the data
    
    a) Modify your target column (the num column) and set 1 for outcomes 1, 2, 3, 4, and 0 otherwise. Print the percentage of each outcome class from the reformatted target. How is the class imbalance now?
    
    b) Drop all rows with missing values (a missing value is epresented by a question mark '?')
    
    c) Set the ca column to float.
    
    d) Get_dummies for the dataframe—this operation is mostly meant for the thal column since it is nominal.
    
    e) Set your target column to the data type of 'category'.
    
    f) Print dtypes of your dataframe to ensure that all predictors are either float or integer.

In [85]:
hd['num'].replace({2: 1, 3: 1, 4: 1}, inplace=True)
hd['num'].value_counts(normalize=True)

0    0.541254
1    0.458746
Name: num, dtype: float64

In [86]:
hd.drop(index=(hd[hd.isin(['?']).any(axis=1)].index), inplace=True)
hd.shape

(297, 14)

In [87]:
hd['ca'] = hd['ca'].astype(float)

In [97]:
hd.dtypes

age         float64
sex         float64
cp          float64
trestbps    float64
chol        float64
fbs         float64
restecg     float64
thalach     float64
exang       float64
oldpeak     float64
slope       float64
ca          float64
thal         object
num           int64
dtype: object

In [100]:
hd_new = pd.get_dummies(hd, prefix_sep='_', drop_first=True)
hd_new

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,num,thal_6.0,thal_7.0
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,0,1,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,1,0,0
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,1,0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,0,0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,57.0,0.0,4.0,140.0,241.0,0.0,0.0,123.0,1.0,0.2,2.0,0.0,1,0,1
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,1,0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,1,0,1
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,1,0,1
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,1,0,0